@using MensaAppKlassenBibliothek
@model List<MensaAppKlassenBibliothek.Menu>

@foreach (Menu m in Model)
{
<div id="orders" class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Menü @m.Prices.PriceId</h4>
        </div>
        <div class="card-body">
                <h1 class="card-title">Bestellungen: @(m.Orders == null ? "0" : m.Orders.Count)</h1>

                <table>
                    <tr>
                        <td><strong>Vorspeise: </strong></td>
                        <td style="padding-left: 50px;">@m.Starter</td>
                    </tr>
                    <tr>
                        <td><strong>Hauptspeise: </strong></td>
                        <td style="padding-left: 50px;">@m.MainCourse</td>
                    </tr>
                    <tr>
                        <td><strong>Preis Schüler: </strong></td>
                        <td style="padding-left: 50px;">@m.Prices.PriceStudent</td>
                    </tr>
                    <tr>
                        <td><strong>Preis Lehrer: </strong></td>
                        <td style="padding-left: 50px;">@m.Prices.PriceTeacher</td>
                    </tr>
                    <tr>
                        <td><strong>Datum: </strong></td>
                        <td style="padding-left: 50px;">@m.Date</td>
                    </tr>
                </table>
        </div>
    </div>
</div>
}