@using MensaAppKlassenBibliothek
@model MensaAppKlassenBibliothek.Menu

<!--TODO: Ausgabe der Menü Liste, die wir von Datenbank holen weiter machen!!!!-->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Menü @Model.WhichMenu</h4>
        </div>
        <div class="card-body">
        <h1 class="card-title">Bestellungen: @(Model.Orders == null ? "0" : Model.Orders.Count )</h1>
        <ul class="list-unstyled mt-3 mb-4">
                <li>@Model.Starter</li>
                <li>@Model.MainCourse</li>
                <li>@Model.Price.ToString("C")</li>
                <li>@Model.Date.ToString("dd'.'MM'.'yyyy")</li>
            </ul>
        </div>
    </div>

