@model MensaAppKlassenBibliothek.Menu
@{
    ViewData["Title"] = "Menüs Hinzufügen";
}

<h1>Menüs Hinzufügen</h1>
<br />
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Menü:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.WhichMenu, new List<SelectListItem>
                {
                    new SelectListItem { Text = "Menü 1", Value = "1", Selected=true},
                    new SelectListItem { Text = "Menü 2", Value = "2"},
                    new SelectListItem { Text = "Menü 3", Value = "3"}
            })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Vorspeiße:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Starter, new {@placeholder = "Suppe", @class = "form-control"})
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Hauptspeiße:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.MainCourse, new {@placeholder = "Schnitzel", @class = "form-control"})
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Preis:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Price, new {@placeholder = "7,50", @class = "form-control"})
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Datum:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Date, "{0:d}", new {@placeholder = "Tag-Monat-Jahr", @class = "form-control datepicker"})
            </div>

        </div>

        <br />

        @if (TempData["SuccessAlert"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessAlert"]
            </div>
        }


    <div class="mx-auto" style="width: 200px;">
        <button type="submit" class="btn btn-success btn-lg">Speichern!</button>
    </div>
    }

@section Scripts{
        <link href="~/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        
        <script>
            $('.datepicker').datepicker({
                format: 'd/m/yyyy'
            });
        </script>
}

</div>
