@using MensaAppKlassenBibliothek
@model List<MenuDTO>
@{
    ViewData["Title"] = "Menüs";
}

<h1>Alle Menüs</h1>

<button id="reloadSite" class="btn btn-primary btn-md">Neu Laden</button>
<button id="editMenu" class="btn btn-primary btn-md" disabled>Bearbeiten</button>
<button id="deleteMenu" class="btn btn-danger btn-md" disabled>Löschen</button>

<br />
<br />

<table id="ShowAllMenues" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <td> ID </td>
            <td> Menü </td>
            <td> Vorspeiße </td>
            <td> Hauptspeiße </td>
            <td> Preis Schüler </td>
            <td> Preis Lehrer </td>
            <td> Datum </td>
    </thead>
    <tbody>
        @foreach (MenuDTO m in Model)
        {
            <tr>
                <td>@m.MenuId</td>
                <td>@m.WhichMenu</td>
                <td>@m.Starter</td>
                <td>@m.MainCourse</td>
                <td>@m.PriceStudent</td>
                <td>@m.PriceTeacher</td>
                <td>@m.Date</td>
            </tr>
        }
    </tbody>
</table>


<br />
<div id="message">
    <partial name="_MessagePartialView" model="@Model"/>
</div>


@section Scripts {
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <script src="~/js/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#ShowAllMenues').DataTable({
                select: true,
                "language": {
                    "lengthMenu": "_MENU_ Zeilen pro Seite",
                    "zeroRecords": "Es wurde kein Eintrag gefunden!",
                    "info": "Seite _PAGE_ von _PAGES_",
                    "infoEmpty": "Es wurde kein Eintrag gefunden!",
                    "infoFiltered": "(von _MAX_ Einträge)",
                    "search": "Suchen:",
                    "paginate": {
                        "next": "->",
                        "previous": "<-"
                    },
                    "select": {
                        "rows": {

                            "1": "1 Zeile ausgewählt"
                        }
                    }
                },
                order: [0, 'desc']
            });


            table.on('select deselect', function () {
                var selectedRows = table.rows({ selected: true }).count();

                if (selectedRows === 1) {
                    $('#deleteMenu').prop('disabled', false);
                    $('#editMenu').prop('disabled', false);
                } else {
                    $('#deleteMenu').prop('disabled', true);
                    $('#editMenu').prop('disabled', true);
                }
            });



            $('#deleteMenu').click(function () {
                var data = table.row('.selected').data();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteMenuFromDatabase", "Menu")",
                    dataType: "html",
                    data: { Id: data[0] },
                    success: function (data) {
                        $('#message').html(data).fadeIn();
                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            });

            $('#editMenu').click(function () {
                var data = table.row('.selected').data();
                document.location = 'EditMenu/' + data[0];
            });

            $('#reloadSite').click(function () {
                location.reload();
                $('#deleteMenu').prop('disabled', true);
                $('#editMenu').prop('disabled', true);
            });


        });
    </script>


}